/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{ color: navy; margin: 2px auto; text-align:center; }
H2		{ color: navy; padding: 8pt; }
H3		{ padding: 5pt; }
H4		{ padding: 3pt  }
H5		{  }
H1 a	{ color: navy;  }
H2 a	{ color: navy;  }
H3 a	{ color: black;  }
H4 a	{ color: black;  }
H1 a:hover	{ color: navy  }
H2 a:hover	{ color: navy  }
H3 a:hover	{ color: black  }
H4 a:hover	{ color: black  }



/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
html { background: #ffffff; }

body {
		background: #efefef; color: black;
		margin:20px auto;
		padding:30px;
		width: 900px;
		-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
		box-shadow: 0px 2px #aaa;
		border: 1px solid #ccc;
		font-family: Puritan, Verdana, Helvetica sans-serif;
}

DIV.ManualTitle	{ padding: 3pt; text-align: center; font-size: x-large; font-weight: bold  }
DIV.center		{   }
SPAN.tt		{   }
SPAN.sc		{   }
DIV.alltt		{
		background: #000;
		color: #090;
		padding: 8px;
		margin: 10px auto;
		display: block;
		width: 650px;
		border-radius: 3px;
		font-size: 120%;
}

div.navigation {
		text-align: center;
		margin: 15px;
		border-bottom: 1px #555555 solid;
		-moz-border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
		-moz-border-bottom-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px;
		background: url(navbarbkgd.png) repeat;
}

DIV.small		{   }
SPAN.bf		{   }
PRE.preform		{   }
DIV.em		{   }
SPAN.textit		{ font-style: italic  }
SPAN.textsl		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
