name: Spack

on: [pull_request, merge_group]

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-latest]


    steps:
    - uses: actions/checkout@v2

    - name: Install Spack
      run: |
        cd ..
        git clone --depth 1 https://github.com/spack/spack
        cd spack

        # Use this branch for testing, not main
        sed -i -e 's,="main",="${{ github.head_ref }}",' var/spack/repos/builtin/packages/charmpp/package.py

        # Use a fork, not the main repo
        # If in merge_group mode, the branch should be created in the main repo
        if [[ ${{ github.event_name }} == 'pull_request' ]]; then
          sed -i -e 's,UIUC-PPL/charm.git,${{github.event.pull_request.head.repo.full_name}},' var/spack/repos/builtin/packages/charmpp/package.py
        fi

        # Compile with debug symbols
        sed -i -e 's,build(target,options.append("-g"); build(target,' var/spack/repos/builtin/packages/charmpp/package.py

        # Add +setcpuaffinity option to TESTOPTS
        sed -i -e 's,\+\+local,++local +setcpuaffinity,' var/spack/repos/builtin/packages/charmpp/package.py

        # No need for automake/autoconf
        sed -i -e '/automake/d' var/spack/repos/builtin/packages/charmpp/package.py
        sed -i -e '/autoconf/d' var/spack/repos/builtin/packages/charmpp/package.py

    - name: Build Charm++
      run: |
        cd ../spack
        source share/spack/setup-env.sh
        spack compiler find
        spack compiler list
        spack install --test root charmpp@main
