name: UTH Linux

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: build
      run: ./build all-test uth-linux-x86_64 -g -j4 --with-production
    - name: test
      run: make -C netlrts-darwin-x86_64/tmp test-tests test-examples TESTOPTS="++local"
